body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ededed;
}

#header {
  font-size: 32px;
  font-weight: 400;
}

.paragraph {
  font-size: 18px;
  color: #4a4a4a;
}
